In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
def semiparsed_to_df(semiparsed):
    keys=['Date','HomeTeam','HomeGoals','AwayGoals','KOTime','AwayTeam','Status']
    list_results=[]
    date_tag='h4'
    for item in semiparsed:
        if str(item)[:len(date_tag)+1]=='<'+date_tag:
            date=item.get_text()
        else:
            result_txt=item.get_text()
            result_entry=[res for res in result_txt.replace('\n','').split('  ') if len(res)>0]
            result={}
            result['Date']=date
            for i in range(1,len(keys)):
                result[keys[i]]=result_entry[i-1]
            list_results.append(result)
    return pd.DataFrame(list_results)

In [3]:
def get_pl_results():
    url='https://www.skysports.com/premier-league-results'
    soup=BeautifulSoup(requests.get(url).text)
    tags=['h4','div'] #h4 tags contain the dates, div tags contain result information
    classes=['fixres__header2','fixres__item'] #corresponding classes
    s_parsed=soup.find_all(tags,class_=classes)
    return(semiparsed_to_df(s_parsed))

In [33]:
def scrape_pl_fixtures():
    url='https://www.skysports.com/premier-league-fixtures'
    soup=BeautifulSoup(requests.get(url).text)
    tags=['h4','div'] #h4 tags contain the dates, div tags contain result information
    classes=['fixres__header2','fixres__item'] #corresponding classes
    s_parsed=soup.find_all(tags,class_=classes)
    return(semiparsed_to_df(s_parsed))

In [35]:
get_pl_results()

,Date,HomeTeam,HomeGoals,AwayGoals,KOTime,AwayTeam,Status
0,Sunday 27th August,Burnley,1,3,14:00,Aston Villa,FT
1,Sunday 27th August,Sheffield United,1,2,14:00,Manchester City,FT
2,Sunday 27th August,Newcastle United,1,2,16:30,Liverpool,FT
3,Saturday 26th August,Bournemouth,0,2,12:30,Tottenham Hotspur,FT
4,Saturday 26th August,Arsenal,2,2,15:00,Fulham,FT
5,Saturday 26th August,Brentford,1,1,15:00,Crystal Palace,FT
6,Saturday 26th August,Everton,0,1,15:00,Wolverhampton Wanderers,FT
7,Saturday 26th August,Manchester United,3,2,15:00,Nottingham Forest,FT
8,Saturday 26th August,Brighton and Hove Albion,1,3,17:30,West Ham United,FT
9,Friday 25th August,Chelsea,3,0,20:00,Luton Town,FT
10,Monday 21st August,Crystal Palace,0,1,20:00,Arsenal,FT
11,Sunday 20th August,Aston Villa,4,0,14:00,Everton,FT
12,Sunday 20th August,West Ham United,3,1,16:30,Chelsea,FT
13,Saturday 19th August,Fulham,0,3,15:00,Brentford,FT
14,Saturday 19th August,Liverpool,3,1,15:00,Bournemouth,FT
15,Saturday 19th August,Wolverhampton Wanderers,1,4,15:00,Brighton and Hove Albion,FT
16,Saturday 19th August,Tottenham Hotspur,2,0,17:30,Manchester United,FT
17,Saturday 19th August,Manchester City,1,0,20:00,Newcastle United,FT
18,Friday 18th August,Nottingham Forest,2,1,19:45,Sheffield United,FT
19,Monday 14th August,Manchester United,1,0,20:00,Wolverhampton Wanderers,FT
20,Sunday 13th August,Brentford,2,2,14:00,Tottenham Hotspur,FT
21,Sunday 13th August,Chelsea,1,1,16:30,Liverpool,FT
22,Saturday 12th August,Arsenal,2,1,12:30,Nottingham Forest,FT
23,Saturday 12th August,Bournemouth,1,1,15:00,West Ham United,FT
24,Saturday 12th August,Brighton and Hove Albion,4,1,15:00,Luton Town,FT
25,Saturday 12th August,Everton,0,1,15:00,Fulham,FT
26,Saturday 12th August,Sheffield United,0,1,15:00,Crystal Palace,FT
27,Saturday 12th August,Newcastle United,5,1,17:30,Aston Villa,FT
28,Friday 11th August,Burnley,0,3,20:00,Manchester City,FT

In [31]:
url='https://www.skysports.com/premier-league-fixtures'
soup=BeautifulSoup(requests.get(url).text
tags=['h4','div'] #h4 tags contain the dates, div tags contain result information
classes=['fixres__header2','fixres__item'] #corresponding classes
s_parsed=soup.find_all(tags,class_=classes)
semiparsed_to_df(s_parsed,fix_type='fixture')

,Date,HomeTeam,HomeGoals,AwayGoals,KOTime,AwayTeam
0,Friday 1st September,Luton Town,0,0,20:00,West Ham United
1,Saturday 2nd September,Sheffield United,0,0,12:30,Everton
2,Saturday 2nd September,Brentford,0,0,15:00,Bournemouth
3,Saturday 2nd September,Burnley,0,0,15:00,Tottenham Hotspur
4,Saturday 2nd September,Chelsea,0,0,15:00,Nottingham Forest
...,...,...,...,...,...,...
195,Saturday 3rd February,Chelsea,0,0,15:00,Wolverhampton Wanderers
196,Saturday 3rd February,Everton,0,0,15:00,Tottenham Hotspur
197,Saturday 3rd February,Manchester United,0,0,15:00,West Ham United
198,Saturday 3rd February,Newcastle United,0,0,15:00,Luton Town
199,Saturday 3rd February,Sheffield United,0,0,15:00,Aston Villa

In [29]:
def semiparsed_to_df(semiparsed, fix_type='result'):
    if fix_type not in ['result','fixture']:
        print('Error: Invalid fix_type entered.')
        return None
    elif fix_type=='result':
        keys=['Date','HomeTeam','HomeGoals','AwayGoals','KOTime','AwayTeam','Status']
    else: #fixture
        keys=['Date','HomeTeam','HomeGoals','AwayGoals','KOTime','AwayTeam']
    list_results=[]
    date_tag='h4'
    for item in semiparsed:
        if str(item)[:len(date_tag)+1]=='<'+date_tag:
            date=item.get_text()
        else:
            result_txt=item.get_text()
            result_entry=[res for res in result_txt.replace('\n',' ').split('  ') if len(res)>0]
            result={}
            result['Date']=date
            for i in range(1,len(keys)):
                result[keys[i]]=result_entry[i-1]
            list_results.append(result)
    return pd.DataFrame(list_results)

In [4]:
df_results=get_pl_results()

In [5]:
df_results

,Date,HomeTeam,HomeGoals,AwayGoals,KOTime,AwayTeam,Status
0,Sunday 27th August,Burnley,1,3,14:00,Aston Villa,FT
1,Sunday 27th August,Sheffield United,1,2,14:00,Manchester City,FT
2,Sunday 27th August,Newcastle United,1,2,16:30,Liverpool,FT
3,Saturday 26th August,Bournemouth,0,2,12:30,Tottenham Hotspur,FT
4,Saturday 26th August,Arsenal,2,2,15:00,Fulham,FT
5,Saturday 26th August,Brentford,1,1,15:00,Crystal Palace,FT
6,Saturday 26th August,Everton,0,1,15:00,Wolverhampton Wanderers,FT
7,Saturday 26th August,Manchester United,3,2,15:00,Nottingham Forest,FT
8,Saturday 26th August,Brighton and Hove Albion,1,3,17:30,West Ham United,FT
9,Friday 25th August,Chelsea,3,0,20:00,Luton Town,FT
10,Monday 21st August,Crystal Palace,0,1,20:00,Arsenal,FT
11,Sunday 20th August,Aston Villa,4,0,14:00,Everton,FT
12,Sunday 20th August,West Ham United,3,1,16:30,Chelsea,FT
13,Saturday 19th August,Fulham,0,3,15:00,Brentford,FT
14,Saturday 19th August,Liverpool,3,1,15:00,Bournemouth,FT
15,Saturday 19th August,Wolverhampton Wanderers,1,4,15:00,Brighton and Hove Albion,FT
16,Saturday 19th August,Tottenham Hotspur,2,0,17:30,Manchester United,FT
17,Saturday 19th August,Manchester City,1,0,20:00,Newcastle United,FT
18,Friday 18th August,Nottingham Forest,2,1,19:45,Sheffield United,FT
19,Monday 14th August,Manchester United,1,0,20:00,Wolverhampton Wanderers,FT
20,Sunday 13th August,Brentford,2,2,14:00,Tottenham Hotspur,FT
21,Sunday 13th August,Chelsea,1,1,16:30,Liverpool,FT
22,Saturday 12th August,Arsenal,2,1,12:30,Nottingham Forest,FT
23,Saturday 12th August,Bournemouth,1,1,15:00,West Ham United,FT
24,Saturday 12th August,Brighton and Hove Albion,4,1,15:00,Luton Town,FT
25,Saturday 12th August,Everton,0,1,15:00,Fulham,FT
26,Saturday 12th August,Sheffield United,0,1,15:00,Crystal Palace,FT
27,Saturday 12th August,Newcastle United,5,1,17:30,Aston Villa,FT
28,Friday 11th August,Burnley,0,3,20:00,Manchester City,FT

In [12]:
from datetime import datetime

print(datetime("Sunday 27th August 14:00"))

TypeError: 'str' object cannot be interpreted as an integer

In [58]:
import re
from datetime import datetime

In [59]:
yr=datetime.now().year

In [94]:
#test_date=re.sub("(\D*)(\d\d?)(\D\D?)(\D*)(\d\d\d\d\)(\d\d:\d\d)",r"\1\2\4\5\6","Sunday 27th August " + str(yr) + " 14:00")
#dtformat="%A %d %B %Y %H:%M"

test_string=df_results.Date[0]
date_string_split=test_string.split()
wkday=date_string_split[0]
day=date_string_split[1][:-2]
mth=date_string_split[2]
yr=str(datetime.now().year)
tm=date_string_split[3]
date_string_cleaned=" ".join([wkday,day,mth,yr,tm])
dtformat="%A %d %B %Y %H:%M"

dt=datetime.strptime(date_string_cleaned,dtformat)

IndexError: list index out of range

In [95]:
print(test_string)

Sunday 27th August

In [98]:
df_results['Date']=df_results.apply(lambda row: convert_dates(" ".join([row.Date,row.KOTime])),axis=1)

In [83]:
"27th"[:-2]

'27'

In [70]:
"Sunday 27th August " + str(yr) + " 14:00"

'Sunday 27th August 2023 14:00'

In [92]:
def convert_dates(date_string):
    
    yr=str(datetime.now().year)
    date_string_split=date_string.split()
    wkday=date_string_split[0]
    day=date_string_split[1][:-2]
    mth=date_string_split[2]
    
    tm=date_string_split[3]
    date_string_cleaned=" ".join([wkday,day,mth,yr,tm])
    dtformat="%A %d %B %Y %H:%M"

    dt=datetime.strptime(date_string_cleaned,dtformat)
    return dt

2023

In [6]:
test_team='Manchester City'

home_results=df_results[df_results.HomeTeam==test_team]
away_results=df_results[df_results.AwayTeam==test_team]

In [7]:
home_results

,Date,HomeTeam,HomeGoals,AwayGoals,KOTime,AwayTeam,Status
17,Saturday 19th August,Manchester City,1,0,20:00,Newcastle United,FT

In [8]:
away_results

,Date,HomeTeam,HomeGoals,AwayGoals,KOTime,AwayTeam,Status
1,Sunday 27th August,Sheffield United,1,2,14:00,Manchester City,FT
28,Friday 11th August,Burnley,0,3,20:00,Manchester City,FT

In [101]:
#get updated dataset
season2022_23_results_path="data/2022-23 PL/2023_matchday_results.csv"
results_2022_23_df=pd.read_csv(season2022_23_results_path)

source_colnames=['fixture.date','teams.home.name','teams.away.name','goals.home','goals.away']
dest_colnames=['Date','HomeTeam','AwayTeam','HomeGoals','AwayGoals']
results_2022_23_df.drop(columns=[col for col in results_2022_23_df.columns if col not in source_colnames],inplace=True)

results_2022_23_df.rename(columns=dict(zip(source_colnames,dest_colnames)),inplace=True)

from pandasql import sqldf

query='''
SELECT Date, HomeTeam, AwayTeam, HomeGoals, AwayGoals
FROM df_results

UNION ALL

SELECT Date, HomeTeam, AwayTeam, HomeGoals, AwayGoals
FROM results_2022_23_df
'''

results=sqldf(query)

In [102]:
results

,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,2023-08-27 14:00:00.000000,Burnley,Aston Villa,1,3
1,2023-08-27 14:00:00.000000,Sheffield United,Manchester City,1,2
2,2023-08-27 16:30:00.000000,Newcastle United,Liverpool,1,2
3,2023-08-26 12:30:00.000000,Bournemouth,Tottenham Hotspur,0,2
4,2023-08-26 15:00:00.000000,Arsenal,Fulham,2,2
...,...,...,...,...,...
404,2023-05-28T15:30:00+00:00,Everton,Bournemouth,1,0
405,2023-05-28T15:30:00+00:00,Leeds,Tottenham,1,4
406,2023-05-28T15:30:00+00:00,Leicester,West Ham,2,1
407,2023-05-28T15:30:00+00:00,Manchester United,Fulham,2,1
408,2023-05-28T15:30:00+00:00,Southampton,Liverpool,4,4

In [116]:
print(sorted(pd.unique(results.HomeTeam)))
print(len(pd.unique(results.HomeTeam)))

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton and Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Southampton', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers', 'Wolves']
23

In [115]:
print(sorted(pd.unique(df_results.HomeTeam)))
print(sorted(pd.unique(results_2022_23_df.HomeTeam)))

def replace_team_names(team):
    prev_season_vals=['Brighton','Newcastle','Tottenham','West Ham']
    new_season_vals=['Brighton and Hove Albion','Newcastle United','Tottenham Hotspur','West Ham United']
    for i in range(len(prev_season_vals)):
        if team==prev_season_vals[i]:
            team=new_season_vals[i]
    return team

for col in ['HomeTeam','AwayTeam']:
    results[col]=results[col].apply(replace_team_names)
    
results

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton and Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers']
['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle', 'Nottingham Forest', 'Southampton', 'Tottenham', 'West Ham', 'Wolves']

,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,2023-08-27 14:00:00.000000,Burnley,Aston Villa,1,3
1,2023-08-27 14:00:00.000000,Sheffield United,Manchester City,1,2
2,2023-08-27 16:30:00.000000,Newcastle United,Liverpool,1,2
3,2023-08-26 12:30:00.000000,Bournemouth,Tottenham Hotspur,0,2
4,2023-08-26 15:00:00.000000,Arsenal,Fulham,2,2
...,...,...,...,...,...
404,2023-05-28T15:30:00+00:00,Everton,Bournemouth,1,0
405,2023-05-28T15:30:00+00:00,Leeds,Tottenham Hotspur,1,4
406,2023-05-28T15:30:00+00:00,Leicester,West Ham United,2,1
407,2023-05-28T15:30:00+00:00,Manchester United,Fulham,2,1
408,2023-05-28T15:30:00+00:00,Southampton,Liverpool,4,4